html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --container-padding-inline: 20px;
  --container-2xl-content-max-width: 1400px; /* 1440px - 2 * 20px */
  --container-xl-content-max-width: 1224px; /* 1440px - 2 * 108px */
  --container-lg-content-max-width: 1016px; /* 1440px - 2 * 212px */
  --container-md-content-max-width: 808px; /* 1440px - 2 * 316px */
}